<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yabe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <Yabe.Properties.Settings>
        <setting name="GUI_SplitterLeft" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="GUI_SplitterRight" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="GUI_SplitterButtom" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="GUI_FormSize" serializeAs="String">
          <value>0, 0</value>
        </setting>
        <setting name="GUI_FormState" serializeAs="String">
          <value>Normal</value>
        </setting>
        <setting name="Udp_ExclusiveUseOfSocket" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MSTP_DisplayFreeAddresses" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="MSTP_LogStateMachine" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DefaultRetries" serializeAs="String">
          <value>3</value>
        </setting>
        <setting name="DefaultTimeout" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="DefaultUdpPort" serializeAs="String">
          <value>47808</value>
        </setting>
        <setting name="DefaultBaudrate" serializeAs="String">
          <value>38400</value>
        </setting>
        <setting name="DefaultSourceAddress" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="DefaultMaxMaster" serializeAs="String">
          <value>127</value>
        </setting>
        <setting name="DefaultMaxInfoFrames" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="Subscriptions_IssueConfirmedNotifies" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Subscriptions_Lifetime" serializeAs="String">
          <value>120</value>
        </setting>
        <setting name="GUI_LastFilename" serializeAs="String">
          <value />
        </setting>
        <setting name="DefaultDownloadSpeed" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="Segments_ProposedWindowSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="Segments_Max" serializeAs="String">
          <value>65</value>
        </setting>
      </Yabe.Properties.Settings>
    </userSettings>
</configuration>