<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BACNetExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BACNetExplorer.Properties.Settings>
            <setting name="SplitterLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SplitterRight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SplitterButtom" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </BACNetExplorer.Properties.Settings>
    </userSettings>
</configuration>